body {
	background-image: url('football.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

header {
	background-color: white;
	border-bottom: 2px solid blue;
	margin-bottom: 20px;
}

.block-container {
	background-color: white;
	height: auto;
	opacity: 0.6;
	padding: 20px;
	width: auto;
}